<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tetsing</title>
</head>
<body>
  <h2>Database Display on Artistes, Songs and Lyrics</h2>
 
  {% for artiste in artistes %}
      <li> {{artiste.first_name}}</li>
         <li>{{artiste.last_name}}</li>
         <li>{{artiste.age}}</li>      
  {% endfor %}

  <br>
  <br> {
  <hr>
  <br>
  {% for song in songs %}
     
      <li> {{song.title}}</li>
      <li> {{song.date_released}}</li>
      <li> {{song.likes}}</li>
      <li> {{song.artiste_id}}</li>
  {% endfor %}

 <br>
  <br>
  <hr>
  <br>
  {% for lyric in lyrics %}
      <li> {{lyric.content}}</li>
      <li> {{lyric.song_id}}</li>
     
  {% endfor %}
</body>
</html>